/* 
  -----------------------------------
  Accordion Panel Magic
  by Project Seven Development
  www.projectseven.com
  Style Theme: 06 - Citrus
  -----------------------------------
*/

.p7APM06 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC00;
	padding: 8px;
	border-top: 1px solid #AFEA00;
	border-right: 1px solid #7CA600;
	border-bottom: 1px solid #7CA600;
	border-left: 1px solid #AFEA00;
	font-size: 12px;
	margin: 0 auto;
	width: auto;
}
.p7APM06 .p7APMtrig {
	margin: 0;
	padding: 0;
	background-repeat: repeat-x;
	background-color: #E83A00;
}
.p7APM06 .p7APMtrig h3, .p7APM06 .p7APMtrig h4 {
	margin: 0 !important;
	padding: 0 !important;
	letter-spacing: normal !important;
	font-size: 1.2em;
}
.p7APM06 .p7APMtrig a {
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 20px;
	color: #000 !important;
	background-color: #FFCC00 !important;
	border-bottom: 1px solid #99CC00;
	font-weight: normal;
	background-image: url(img/p7apm_east_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-variant: small-caps;
}
.p7APM06 .p7APMtrig .p7APM_ext, .p7APM06 .p7APMtrig .p7APM_ext.p7APMtrig_down {
	background-image: url(img/p7apm_page_black.gif) !important;
	color: #000 !important;
	background-color: #FFCC00 !important;
	border-bottom: 1px solid #99CC00 !important;
	font-weight: normal !important;
	font-variant: small-caps !important;
}
.p7APM06 .p7APMtrig a:hover {
	color: #000 !important;
	background-color: #FC0 !important;
	text-decoration: underline;
}
.p7APM06 .p7APMtrig a:active, .p7APM06 .p7APMtrig a:focus {
	outline: 1px dotted #ccc;
}
.p7APM06 .p7APMtrig .p7APMtrig_down, .p7APM06 .p7APMtrig .p7APMtrig_down:hover {
	background-image: url(img/p7apm_south_white.gif) !important;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #222 !important;
	background-color: #99CC00 !important;
	border-bottom: 1px solid #FFCC00;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: underline;
}
.p7APM06 .p7APMcwrapper {
	position: relative;
}
.p7APM06 .p7APMpanelcontent {
	padding: 20px;
	line-height: 1.5em;
	background-image: url(img/p7apm_citrus.jpg);
	background-repeat: repeat-x;
	background-color: #FFF;
}
.p7APM06 .p7APMcontent h2, .p7APM06 .p7APMcontent h3, 
.p7APM06 .p7APMcontent h4 {
	font-size: 14px;
	margin: 0px;
	line-height: normal;
	letter-spacing: 0.1em;
}
.p7APM06 .p7APMcontent p {
	margin: 6px 0;
}
.p7APM06 .current_mark {
	font-weight: bold !important;
}
