/* 
  -----------------------------------
  PopMenu Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Page Pack 01
  Venezia Horizontal 3 Column
  -----------------------------------
*/
/*
PAGE LAYOUT STYLES
*/
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #198D82;
}
#contentTable {
	border-bottom: 6px solid #707070;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
}
#contentTable td {
	vertical-align: top;
}
/*
Sets the large masthead background image, sets the height of the table cell
to match the height of the background image. Sets the table cell contents
to align in the middle. */
#masthead {
	background-image: url(../images/vzh_mastbg.jpg);
	background-repeat: repeat-x;
	background-color: #B3B3B3;
	border-bottom: 1px solid #333333;
}
/*
This rule sets the masthead pizza graphic as a background on the DIV
that contains the embedded logo image. The embedded image appears naturally
at the left edge of the parent masthead cell, while the pizza background
is displayed at the right edge.*/
#logodiv {
	margin: 0;
	background-image: url(../images/vzh_pizza.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
/*
Sets the menu container cell and the top-level menu UL to have a
textured gray backgrouind.*/
#menubar, #p7PMnav {
	background: #FFFFFF;
}
/*
Sets the menu font size*/
#menubar {
	font-size: 0.8em;
}
/*
Sets the left sidebar width to a flexible 15%.*/
#sidebar1 {
	padding: 20px;
	width: 20%;
	font-size: 0.7em;
	background: #FFFFFF url(../images/vzh_verticalRule.gif) repeat-y right top;
}
/*
Sets styles for the main content table cell. Note that the
verticalRule background image is the dashed border between the
main content cell and the sidebar. Also sets the main content cell
to a flexible width of 65%.*/
#maincontent {
	padding: 20px 30px;
	font-size: 0.8em;
	line-height: 1.5em;
	width: 85%;
	background: #FFFFFF url(../images/vzh_verticalRule.gif) repeat-y right top;
}
/*
Sets the right sidebar width to a flexible 20%.*/
#sidebar2 {
	padding: 20px;
	width: 10%;
	font-size: 0.75em;
	background: #FFFFFF;
}
#footer {
	font-size: 0.7em;
	color: #DD515A;
	padding: 16px 12px;
}
h1, h2 {
	font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
	line-height: normal;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
/*
Sets link styles for all links on the page except the Pop Menu Magic Menu.*/
a:link {
	color: #6A6784;
}
a:visited {
	color: #999999;
}
a:hover, a:active, a:focus {
	color: #D14550;
}
/*
-----------------------------------------------------
PMM MENU STYLE MODIFICATION*/
/*
Sets the width of the top-level menu bar to a scalable 46em. The menu
can then scale as the user resizes text preventing menu items from
breaking to a new line.*/
#p7PMnav {
	width: 46em;
}
