.text {
	font: 11px Arial, Helvetica, sans-serif;
}
.text {
	font: 11px Arial, Helvetica, sans-serif;
}
.textlarge {

	font: 14px Arial, Helvetica, sans-serif;
	font: 11px Arial, Helvetica, sans-serif;
}
.textsmall {
	font: 10px Arial, Helvetica, sans-serif;
	color: #0033CC;
}
